user html
<div id="div"></div>

<script>
    const div = document.getElementById("div");
 
    const username = document.URL.slice(document.URL.lastIndexOf("/") + 1);
    const button = document.createElement("button");
    button.id = "follow"
    button.innerHTML = "follow"
    div.appendChild(button);

    button.onclick =  function() {
        const followRequest = new XMLHttpRequest();
        followRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                button.innerHTML = "followed";
            }
        }
        
        followRequest.open("POST", `http://localhost:3000/activity/${username}/follow/@zofiaromaszewski@mstdn.social`, true);
        followRequest.send();
    }

    // const userJson = new XMLHttpRequest();
    // userJson.onreadystatechange = function() {
    //         if (this.readyState == 4 && this.status == 200) {
    //         div.innerHTML = this.responseText;
    //         div.appendChild(button);
    //     }
    // };
    // userJson.open("GET", `http://localhost:3000/u/${username}.json`, true);
    // userJson.send();
    
    const followersRequest = new XMLHttpRequest();
    followersRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            const followersTitle = document.createElement('p');
            followersTitle.innerHTML = "Followers";
            div.appendChild(followersTitle);

            const followersList = document.createElement('ul');
            div.appendChild(followersList);
            const json = JSON.parse(this.responseText)
            for(const follower of json){
                const item = document.createElement('li');
                item.innerHTML = follower.actor;
                followersList.appendChild(item);
            }
        }
    };
    followersRequest.open("GET", `http://localhost:3000/u/${username}/followers`, true);
    followersRequest.send();
    
    const followingRequest = new XMLHttpRequest();
    followingRequest.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            const followingTitle = document.createElement('p');
            followingTitle.innerHTML = "Following";
            div.appendChild(followingTitle);

            const followingList = document.createElement('ul');
            div.appendChild(followingList);
            const json = JSON.parse(this.responseText)
            for(const follow of json){
                const item = document.createElement('li');
                item.className = "yellow";
                item.onclick =  function() {
                    const undoFollow = new XMLHttpRequest();
                    undoFollow.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            item.className = "red";
                        }
                    }
                    const id = follow.id.split("/").pop()
        
                    undoFollow.open("DELETE", `http://localhost:3000/activity/${username}/undo/${id}/${follow.type}`, true);
                    undoFollow.send();
                }

                item.innerHTML = follow.object;
                followingList.appendChild(item);
            }
        }
    };
    followingRequest.open("GET", `http://localhost:3000/u/${username}/following`, true);
    followingRequest.send();

</script>
<style>
    .yellow {
        color: gold;
    }
    .red {
        color: crimson;
    }
</style>